.logo-img { width:50px;height:auto; }
.logo-title { padding-left:10px;color:#5d607f;  }
.navbar-nav .nav-link.active { color:#c77905 !important;padding:6px 10px;border-bottom:2px solid #c77905;margin-right:5px; }
.navbar-nav .nav-link { color:#5d607f;padding:6px 10px;margin-right:5px; }
nav { box-shadow: 2px 2px 2px #808080; }
#collapsibleNavbar.show { padding-top:15px; }
.upper-header { background-color:#e9e9e9;min-height:40px;padding-left:15px;padding-top:10px; }
.upper-header-flex { width:100%;display: flex;flex-direction:row; }
.separator { padding-left: 15px;border-right: 1px solid #5d607f; }
.txt-phone-number { padding-left:8px;font-size:12px;min-width:110px;}
.txt-email { padding-left:8px;font-size:12px; }

@media (max-width:992px){
 .desktop-view { display:none; } 
 .mobile-view-center { width:100%;display:flex;justify-content: center;align-items:center;text-align: center; }
}
@media (min-width:993px){
 .desktop-view-right { width:100%;display:flex;justify-content: flex-end;align-items:flex-end;text-align: flex-end; }
}

@media (max-width: 575px) {
  .col-xs-1 { flex: 0 0 auto;width: 8.33333333%; }
  .col-xs-2 { flex: 0 0 auto;width: 16.66666667%; }
  .col-xs-3 { flex: 0 0 auto;width: 25%; }
  .col-xs-4 { flex: 0 0 auto;width: 33.33333333%; }
  .col-xs-5 { flex: 0 0 auto;width: 41.66666667%; }
  .col-xs-6 { flex: 0 0 auto;width: 50%; }
  .col-xs-7 { flex: 0 0 auto;width: 58.33333333%; }
  .col-xs-8 { flex: 0 0 auto;width: 66.66666667%; }
  .col-xs-9 { flex: 0 0 auto;width: 75%; }
  .col-xs-10 { flex: 0 0 auto;width: 83.33333333%; }
  .col-xs-11 { flex: 0 0 auto;width: 91.66666667%; }
  .col-xs-12 { flex: 0 0 auto;width: 100%; }
}