.backup2/e-dir-sync/node_modules

.backup2/e-ui-rn/.expo
.backup2/e-ui-rn/node_modules

.backup2/app-lnp/.expo
.backup2/app-lnp/node_modules

.backup2/exp-rn/.expo
.backup2/exp-rn/node_modules

.backup/e-ui-rn/.expo
.backup/e-ui-rn/node_modules

.backup/exp-rn/.expo
.backup/exp-rn/node_modules
