.img-section { background-color: #cccccc;height: auto;background-position: center;background-repeat: no-repeat;
    background-size: cover;position: relative; }
.img-section-text { background-color:#ccc; text-align:center;width:100%;
    position: absolute;bottom:30%;left:0%;padding:15px; }